/* All styles for your Card Components live here */
.bannerImage{
    width: 100%;
}

.cardContainer{
    margin-left:8rem;
    margin-right: 2rem;
}

p, .rjs, h4, a{
    text-decoration:none;
    color:black;
}

.rjs{
    color: gray;
}